/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# YARD databases (including test fixtures)
**/.yardoc

# rspec failure tracking
.rspec_status

# Built gems
/*.gem
.coditsu/local.yml
coverage/
